*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    flex-direction:column;
}
.game-area{
    flex:7;          
    /* background-color:#4aa8ff; */
    position:relative;
    overflow:hidden;
}

.metrics-area{
    flex:3;          
    /* background-color:#0d1b2a; */
}
#gameCanvas{
    width:100%;
    height:100%;
    display:block;
}